In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from astropy.table import Table, QTable
import astropy.units as u
import scipy
import sklearn

In [31]:
import numpy as np
import pandas as pd

from enum import IntEnum


class Scores(IntEnum):
    win = 6
    draw = 3
    lose = 0
    

class RPS(IntEnum):
    rock = 1
    paper = 2
    scissors = 3
    
wins = {1:2, 2:3, 3:1}
losses = {1:3, 2:1, 3:2}
    
 
d = {"A": 1, "B": 2, "C": 3}   
#d2 = {"X": 1, "Y": 2, "Z": 3} # What if lose draw win  
d2 = {"X": 0, "Y": 3, "Z": 6} # What if lose draw win  
    
def rules(s1, s2):
    
    p1, p2 = d[s1], d2[s2] 
    
    
    if p1 == p2:
        return Scores.draw + p2
    
    if RPS(p1) is RPS.rock:
        if RPS(p2) is RPS.paper:
            return Scores.win  + p2
        return Scores.lose  + p2
    
    if RPS(p1) is RPS.paper:
        if RPS(p2) is RPS.scissors:
            return Scores.win  + p2
        return Scores.lose  + p2
    
    if RPS(p1) is RPS.scissors:
        if RPS(p2) is RPS.rock:
            return Scores.win + p2 
        return Scores.lose  + p2
    
    
def new_rules(s1, s2):
    
    p1, p2 = d[s1], d2[s2] 
    
    if Scores(p2) is Scores.draw:
        return Scores.draw + p1
    
    if Scores(p2) is Scores.win:
        return wins[p1] + Scores.win
    
    if Scores(p2) is Scores.lose:
        return losses[p1] + Scores.lose
        


df = pd.read_csv('input.txt', header=None, names=['p1', 'p2'], delim_whitespace=True)

#ms = df.apply(lambda x: rules(x.p1, x.p2), axis=1)
ms = df.apply(lambda x: new_rules(x.p1, x.p2), axis=1)
print(ms.sum())
#print(ms)
#df.head()

13726

In [22]:
RPS(1)

In [10]:
df['s'] = df.apply(lambda x: score(x.p1, x.p2), axis=1)
df

     p1 p2  s
0     A  Z  9
1     A  Z  9
2     C  Y  2
3     A  X  4
4     A  X  4
...  .. .. ..
2495  A  Z  9
2496  B  Z  9
2497  B  Z  9
2498  C  Y  2
2499  B  Z  9

[2500 rows x 3 columns]

In [19]:
df2 = pd.DataFrame()
df2['s1'] = df.p1.apply(lambda x: d[x])
df2['s2'] = df.p2.apply(lambda x: d2[x])


def score2(s1, s2):
    wld = 0
    if s1 == s2:
        wld = 3
    elif s2 > s1:
        wld = 6
    elif s2 < s1:
        wld = 0
        
    return wld + s2

df2['r'] = df2.apply(lambda x: score2(x.s1, x.s2), axis=1)
df2['r'].sum()

12603

In [12]:
df.s.value_counts()

9    724
5    591
1    412
2    406
4    235
8     88
6     44
Name: s, dtype: int64