In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('day1input.csv', header=None,names=['d'])
df.head()

     d
0  131
1  140
2  136
3  135
4  155

In [2]:
df.describe()

                 d
count  2000.000000
mean   2826.405500
std    1594.119652
min     131.000000
25%    1446.750000
50%    2740.000000
75%    4195.000000
max    5770.000000

In [3]:
pd.isna(df).sum()

d    0
dtype: int64

In [6]:
(df.diff()>0).sum()

d    1466
dtype: int64

In [10]:

a = np.array(df.d, dtype=np.int64)

a.reshape(-1,2)
a[0:3]

array([131, 140, 136])